.form1{
    font-family: Gotham;
    font-size: 100%;
    font-weight: 400;
    color: #6c757d!important;

}

.bg-ilustration {

}

.img-backgorund{
    height: 10cm;

}

.promo{
    width: 370px;
}
p{
    font-family: Gotham;
}